# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment and secrets
.env
.env.*
server/.env
server/server/.env
netlify/functions/.env
.env.backup
.env.original
# SSH keys
*.pem
*.key
*.pub
/git push -u origin main
/git push -u origin main.pub

# Local Netlify folder
.netlify
misophonia-companion/
node_modules/
city_clerk_documents/txt/
city_clerk_documents/json/
city_clerk_documents/global/*.pdf

# Python virtual environment
city_clerk_rag/
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Large binary files
*.so
*.dylib
*.dll
*.pdb
